﻿@model Taxistas.Web.Models.RegisterViewModel

<h2>@ViewBag.Title.</h2>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Crear Usuario</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm(ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString(), "AdminUsuarios", FormMethod.Post, new { @class = "form", role = "form" }))
        {
        <div class="row">
            <div class="col-md-3">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="">
                        @Html.LabelFor(m => m.Nombre, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        @Html.LabelFor(m => m.Telefono, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" class="btn btn-flat btn-success" value="Guardar" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Roles) 
                @foreach (var role in Model.Roles)
                {
                <div class="checkbox">
                    <label>
                        @if (Model.SelectedRoles.Any(x => x.Equals(role.Value)))
                        {
                            @Html.CheckBox("SelectedRoles", true, new { value = role.Value })
                        }
                        else
                        {
                            @Html.CheckBox("SelectedRoles", false, new { value = role.Value })
                        }
                        @role.Text
                    </label>
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
