﻿@model List<Taxistas.Core.Entities.ApplicationUser>
@{
    ViewBag.Title = "Administrador de Usuarios";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Usuarios</h3>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Status</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            bool locked = m.LockoutEnabled && m.LockoutEndDateUtc >= DateTime.UtcNow;
                            <tr>
                                <td>@m.Nombre</td>
                                <td>@m.Email</td>
                                <td>@m.PhoneNumber</td>
                                <td>@if (locked) { <i class='fa fa-lock'></i> } else { <i class='fa fa-unlock-alt'></i> }</td>
                                <td>
                                    <button name="reset" data-id="@m.Id" class="btn btn-flat btn-default" data-toggle="tooltip" data-original-title="Restablecer Contraseña"><i class="fa fa-key"></i></button>
                                    <a href="@Url.Action("Editar", new { id = m.Id })" class="btn btn-flat btn-warning" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil"></i></a>
                                    @if (locked)
                                    {
                                    <button name="activate" data-id="@m.Id" data-toggle="tooltip" data-original-title="Activar" class="btn btn-flat btn-success"><i class="fa fa-unlock-alt"></i></button>
                                    }
                                    else
                                    {
                                    <button name="delete" data-id="@m.Id" data-toggle="tooltip" data-original-title="Desactivar" class="btn btn-flat btn-danger"><i class="fa fa-lock"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section styles {
    @Styles.Render("~/Content/datatables")
}

@section scripts {
    @Scripts.Render("~/bundles/datatables")
<script type="text/javascript">
        $(document).ready(function () {
            $('table').DataTable({
                language: language,
                dom: "<'row'<'col-xs-6'B><'col-xs-6'f>><'row'<'col-xs-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [{
                    text: '<i class="fa fa-plus"></i> Agregar Usuario',
                    action: function (e, dt, node, config) {
                        window.location = '@Url.Action("Agregar")';
                    },
                    className: 'btn btn-flat btn-success'
                }]
            });

            $('button[name="reset"]').click(function (e) {
                $btn = $(this);
                bootbox.confirm({
                    message: '¿Estás seguro que deseas restablecer la contraseña de este usuario?',
                    buttons: {
                        confirm: {
                            label: 'Aceptar',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancelar',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '@Url.Action("Restablecer")',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    id: $btn.data('id')
                                }
                            }).done(function (data) {


                                bootbox.alert('Contraseña restablecida con éxito. La nueva contraseña es: ' + data.password);
                            });
                        }
                    }
                });
            });

            $('button[name="delete"]').click(function (e) {
                $btn = $(this);
                bootbox.confirm({
                    message: '¿Estás seguro que quieres inactivar a este usuario?',
                    buttons: {
                        confirm: {
                            label: 'Aceptar',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancelar',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '@Url.Action("Desactivar")',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    id: $btn.data('id')
                                }
                            }).done(function (data) {
                                bootbox.alert('Usuario desactivado satisfactoriamente.');
                            });
                        }
                    }
                });
            });

            $('button[name="activate"]').click(function (e) {
                $btn = $(this);
                bootbox.confirm({
                    message: '¿Estás seguro que quieres activar a este usuario?',
                    buttons: {
                        confirm: {
                            label: 'Aceptar',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancelar',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '@Url.Action("Reactivar")',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    id: $btn.data('id')
                                }
                            }).done(function (data) {
                                bootbox.alert('Usuario activado satisfactoriamente.');
                            });
                        }
                    }
                });
            });
        })

</script>
}