﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | Taxis Rojos</title>
    @Styles.Render("~/Content/css")
    <link href="~/admin-lte/css/skins/skin-purple.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="sidebar-mini skin-red">
    <div class="wrapper" style="height: auto; min-height: 100%;">

        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>ST</b>IM</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b class="">Sindicato</b> de Taxistas</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <p>
                                        @User.Identity.Name
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    <div class="pull-left">
                                        <button type="button" id="change-password" class="btn btn-default btn-flat">Cambiar Contraseña</button>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-default btn-flat">Cerrar Sesión</button>
                                    </div>
                                    }
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">MENÚ</li>
                    @if (User.IsInRole("Admin"))
                    {
                    <li class="header">ADMINISTRACIÓN</li>
                    <li><a href="@Url.Action("Index", "AdminUsuarios")"><i class="fa fa-users"></i><span>Administrador de Usuarios</span></a></li>
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 1126px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @RenderSection("header", required: false)
            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <strong>Copyright © @DateTime.Now.Year</strong>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminLTE")
    <script type="text/javascript">
        $(document).ajaxStart(function () { Pace.restart(); });
        $(document).ready(function () {
            $('[data-toggle="push-menu"]').pushMenu();
            $('[data-toggle="tooltip"]').tooltip();
            $('#change-password').click(function () {
                bootbox.prompt({
                    title: "Escribe tu nueva contraseña",
                    inputType: 'password',
                    callback: function (result) {
                        if (result != '' && result != null) {
                            var form = $('#__AjaxAntiForgeryForm');
                            var token = $('input[name="__RequestVerificationToken"]', form).val();

                            $.ajax({
                                url: '@Url.Action("ChangePassword", "Account")',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    newPassword: result,
                                    __RequestVerificationToken: token
                                }
                            }).done(function (data) {
                                if (data)
                                    bootbox.alert("Contraseña cambiada satisfactoriamente.");
                                else
                                    bootbox.alert("Contraseña no válida.");
                            });
                        }
                    }
                })
            })
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
