﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Cuenta desactivada.</h1>
    <h2 class="text-danger">Esta cuenta ha sido desactivada. Favor de ponerse en contacto con el administrador.</h2>
</hgroup>
